<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>On station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    No stations
  <% end %>
</p>


<table border="1">
  <tr>
    <th>Econom-class carriages count: </th>
    <td><%= @train.carriages_depending_on_type(@train.carriages,'econom-class').size %></td>
    <td>top seats count </td>
    <td><%= @train.seats_count_in_all_carriages(@train.carriages, 'econom-class', 'top_seats')%></td>
    <td>lower seats count </td>
    <td><%= @train.seats_count_in_all_carriages(@train.carriages, 'econom-class', 'lower_seats')%></td>


  </tr>
  <tr>
    <th>Compartment carriages count: </th>
    <td><%= @train.carriages_depending_on_type(@train.carriages, 'compartment').size %></td>
    <td>top seats count </td>
    <td><%= @train.seats_count_in_all_carriages(@train.carriages, 'compartment', 'top_seats')%></td>
    <td>lower seats count </td>
    <td><%= @train.seats_count_in_all_carriages(@train.carriages, 'compartment', 'lower_seats')%></td>

  </tr>

</table>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
