<%= form_with(model: @carriage, local: true) do |form| %>
  <% render 'common/errors', resourse: @carriage %>

  <div class="field">
    <%= form.label :carriage_type %>
    <%= form.select :carriage_type, options_for_select([['compartment'], ['econom-class']]) %>
  </div>

  <div class="field">
    <%= form.label :top_seats_count %>
    <%= form.text_field :top_seats_count %>
  </div>

  <div class="field">
    <%= form.label :lower_seats_count %>
    <%= form.text_field :lower_seats_count %>
  </div>

  <div class="field">
    <%= form.label :train, 'Train' %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>


  <div class="actions">
    <%= form.submit "#{ @carriage.new_record? ? 'Create' : 'Edit' }" %>
  </div>
<% end %>
