<p id="notice"><%= notice %></p>

<table><strong>Carriage info:</strong>
  <tr><td>Id - <%= @carriage.number %></td></tr>
  <tr><td>Type - <%= @carriage.type %></td></tr>
  <tr><td>Top seats - <%= @carriage.top_seats %></td></tr>
  <tr><td>Lower seats - <%= @carriage.bottom_seats %></td></tr>
  <tr><td>Lower seats - <%= @carriage.side_top_seats %></td></tr>
  <tr><td>Lower seats - <%= @carriage.side_bottom_seats %></td></tr>
  <tr><td>Train - <%= @carriage.train_id %></td></tr>
</table>

<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', carriages_path %>
