<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>
<p>
  <strong>Trains on the route: </strong>
  <% if @route.trains.present? %>
    <ul>
      <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
      <% end %>
    </ul>
  <% else %>
    No trains
  <% end %>
</p>

<p>
  <strong>Stations:</strong>
  <% if @route.railway_stations.empty? %>
    No stations
  <% else %>
    <table>
      <thead>
      <tr>
        <td width="100px">Title</td>
        <td>Position</td>
      </tr>
      </thead>
      <tbody>
      <% @route.railway_stations.order(:position).each do |station| %>
          <tr>
            <td><%= station.title %></td>
            <td><%= station.position(@route) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
